<div class="form">
    <form #form="ngForm" (ngSubmit)="enviarDatos()" fxLayout="column">
        <div fxLayout="column">
            <label for="nombre">Nombre:</label>
            <input 
                type="text" 
                name="nombre" 
                id="nombre"
                maxlength=20
                minlength="2"
                [(ngModel)]="consola.Nombre"
                required
            >
        </div>
        <div fxLayout="column">
            <label for="fabricante">Fabricante:</label>
            <input 
                type="text" 
                name="fabricante" 
                id="fabricante"
                maxlength=20
                minlength="2"
                [(ngModel)]="consola.Fabricante"
                required
            >
        </div>
        <div fxLayout="column">
            <label for="generacion">Generacion:</label>
            <input 
                type="number" 
                name="generacion" 
                id="generacion"
                step="1"
                [(ngModel)]="consola.Generacion"
                required
            >
        </div>
        <div fxLayout="column">
            <label for="tieneSoporte">Soporte activo:</label>
            <input 
                type="checkbox" 
                name="tieneSoporte" 
                id="tieneSoporte"
                [(ngModel)]="consola.tieneSoporte"
                value="true"
            >
        </div>
        <div>
            <button type="reset">Limpiar</button>
            <button 
                type="submit"
                [disabled]="!form.form.valid"
            >{{buttonName}}</button>
        </div>
    </form>
</div>