.header {
    width: 100%;
    background-color: #4655A2;
    color: white;
    padding-left: 50px;
}

button {
    background-color: #4655A2;
    color: white;
    padding: 20px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #323d72;   
}