.form {
    width: 700px;
}

input, select, button {
    margin: 20px 0;
    padding: 15px;
}

button {
    background-color: rgb(163, 163, 163);
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(119, 119, 119);
}